@model ExcelExampleData.StudentInfo

@{
    ViewBag.Title = "Student Info";
}

<h2>Student Info</h2>

<div>
    <h4>Student Info</h4>
    <hr />
    <dl class="dl-horizontal table-hover">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rollNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rollNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
